<table class="table table-border">
  <tr>
    <th><%= t ".name" %></th>
    <th><%= @repository.name %></th>
  </tr>
  <tr>
    <td>
      <%= link_to t(".edit_btn"), [:edit, @repository], class: "btn btn-warning" %>
      <%= link_to t(".remove_btn"), @repository, method: :delete,
        data: {confirm: t(".confirm")}, class: "btn btn-danger" %>
    </td>
    <td><%= link_to t(".count_pr_btn"), count_pull_requests_repository_path, method: :patch, class: "btn btn-info" %></td>
  </tr>
</table>
