<table class="table table-border">
  <tr>
    <th><%= t ".name" %></th>
    <th><%= @repository.name %></th>
  </tr>
  <tr>
    <td><%= t ".content" %></td>
    <td><%= @query_condition.content %></td>
  </tr>
  <tr>
    <td>
      <%= link_to t(".edit_btn"), [:edit, @query_condition], class: "btn btn-warning" %>
      <%= link_to t(".remove_btn"), @query_condition, method: :delete,
        data: {confirm: t(".confirm")}, class: "btn btn-danger" %>
    </td>
    <td><%= link_to t(".count_pr_btn"), count_pull_requests_query_condition_path(@query_condition), method: :patch, class: "btn btn-info" %></td>
  </tr>
</table>

<h1><%= t ".pull_requests" %></h1>
<table class="table table-border">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t ".author" %></th>
      <th><%= t ".pr_id" %></th>
      <th><%= t ".pull_request" %></th>
      <th><%= t ".plus_code" %></th>
      <th><%= t ".minus_code" %></th>
    </tr>
  </thead>
  <tbody>
    <% @query_condition.pull_requests.each_with_index do |pull_request, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= pull_request.author %></td>
        <td><%= pull_request.pr_id %></td>
        <td><%= link_to pull_request.pull_request, pull_request.pull_request %></td>
        <td><%= pull_request.plus_code %></td>
        <td><%= pull_request.minus_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
