<!DOCTYPE html>
<html>
  <head>
    <title>CrawlPullRequests</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/header" %>
      <%= render "layouts/sidebar" %>
      <div id="wrapper" class="content-wrapper">
        <div class="container-fluid">
          <%= render "layouts/flash" %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
